/* Container style to center the button */
.buttonContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-top: 3.5%;
  margin-bottom: -1%;
}

.downloadCVButton {
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding: 0.5% 1%; /* Add padding for better spacing */
  cursor: pointer; /* Add cursor pointer for better UX */
  display: inline-flex; /* Use inline-flex to expand based on content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow: hidden; /* Hide the overflowing gradient */
  transition: background-color 0.4s ease; /* Smooth transition for background color */
  white-space: nowrap; /* Prevent text from wrapping */
}

.downloadCVButton:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}

.downloadCVButton p {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  margin-top: 1%; /* Remove margin to ensure proper centering */
  font-size: 1.4vw;
  z-index: 1; /* Ensure the text stays above the gradient */
  transition: color 0.4s ease; /* Smooth transition for the text color */
}

.downloadCVButton:hover p {
  color: #5a9bd4; /* Change text color on hover */
}

/* Change arrow color on hover */
.downloadCVButton .Arrow {
  margin-left: 7%;
  color: #5a9bd4; /* Default arrow color */
  z-index: 2; /* Ensure the arrow is above the gradient and text */
}

/* Ensure arrow color changes on button hover */
.downloadCVButton:hover .Arrow {
  color: black; /* Change arrow color to black on hover */
}

@media (max-width: 1400px) {
  .downloadCVButton {
    margin: 0.8%;
  }

  .downloadCVButton p {
    font-size: 2vw;
    margin-left: 1.2vw;
  }

  .downloadCVButton .Arrow {
    font-size: 2vw;
    margin-right: 1.2vw;
  }
}

@media (max-width: 768px) {
  .downloadCVButton p {
    font-size: 2.5vw;
  }

  .downloadCVButton .Arrow {
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  .downloadCVButton {
    margin: 3%;
  }

  .downloadCVButton p {
    font-size: 4vw;
    margin-left: 1.5vw;
    margin-top: 0.8%;
  }

  .downloadCVButton .Arrow {
    font-size: 3vw;
    margin-right: 1.2vw;
    margin-top: 0.8%;
  }
}
