@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 50, 50, 50; /* Dark grey color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 20, 20, 20; /* Very dark grey */
  }
}

/* Apply uniform background color */
body {
  font-family: "Kanit", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #1e1e1e; /* Color of the scrollbar handle and track */
}

/* Style the scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect for scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovered */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
